.gradient-background {
    background: linear-gradient(280deg, #000080, #0095d4);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  h1 {
    color: #FCF5E5;
    text-align: left;
  }

  .name {
    font-family: "Stoke", serif;
  }
  
  .brain {
    transform: rotate(20deg);
  }
  
  #home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #bar {
    height: 100vh;
    overflow-y: auto;
    
  }

  #home * {
    color: #FCF5E5;
  }

  #contact {
    height: 100vh;
  }

  #contact * {
    color: #FCF5E5;
    text-align: center;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 100px;
  }

  #about {
    color: #FCF5E5;
    font-family: "Molengo", serif !important;
  }

  .contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .contact-header {
    position: absolute;
    top: 17%;
  }

  .grid-container {
    width: 500px;
    position: relative;
    top: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
  }

  .contact-info {
    font-family: "Poppins", serif;
    text-align: left;
    justify-self: left;
  }

  .outer-flex-res {
    height: 100vh;
  }

  .outer-flex-res * {
    color: #FCF5E5;
  }

  .resume-container {
    gap: 100px;
  }

  #custom-cards {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #proj-outer-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-grow: 1;
  }

  .outer-proj-flex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .proj-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px
  }

  .proj * {
    color: #FCF5E5;
    text-align: center;
  }

  .proj > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }

  .projects-heading {
    text-align: center;
  }

  .scrollable {
    overflow-y: scroll;
    height: 100vh;
  }



  @media (max-width: 1000px) {
    .proj-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 100px
      }
  }

  @media (max-width: 850px) {
    .grid-container {
        width: 500px;
        position: relative;
        top: 10%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        gap: 40px;
      }
  }

  
  @media (max-width: 700px) {
    .proj-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 100px
      }

      .about-container {
        padding-left: 10px;
    
      }
  }



